@font-face {
    font-family: 'Gilroy';
    src: url('./5fe8ce91c2e5710acb036571_Gilroy-SemiBold.woff2') format('woff2'), url('./5fe8ce3dd7bed21429dbe87d_Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Gilroy;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    z-index: 10;
}

#logo {
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 2;
}

nav > li {
    margin-right: 40px;
    list-style: none;
    padding: 10px;
    font-size: 17px;
}

.nav-li {
    cursor: pointer;
}

nav a {
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    transition: 0.1s ease-in;
}

nav a:hover {
    color: #ff5300;
    font-size: 25px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

p {
    color: white;
}

#notional-report {
    display: flex;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#process-button {
    height: 2rem;
    width: 10rem;
}

label {
    display: block;
    border-top: 10px;
}

#result {
    display: flex;
    height: 100%;
    width: 50%;
}

#issuers-list-result {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 50%;
}

#calculation-result {
    height: 90vh;
    width: 50%;
}

.result-field {
    overflow: auto;
}

.result-field > ul {
    list-style-type: none;
}

#main-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100%;
    width: 50%;
    align-items: stretch;
}
    
.div1 {
    grid-area: 1 / 1 / 3 / 2;
    background-color: red;
    align-items: stretch;
}

#instruments {
    justify-self: stretch;
}

.div2 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: blue;
}
.div3 { 
    grid-area: 3 / 2 / 4 / 3;
    background-color: yellow;
}
.div4 { 
    grid-area: 2 / 2 / 3 / 3;
    background-color: green;
}
.div5 { 
    grid-area: 1 / 2 / 2 / 3;
}
.div6 { 
    grid-area: 1 / 3 / 2 / 4;
}
.div7 { 
    grid-area: 2 / 3 / 3 / 4;
}
.div8 { 
    grid-area: 3 / 3 / 4 / 4;
}